<span class="btn back"><span class="icon-arrow-left2"></span> <span class="text bold" routerLink="/" routerLinkActive="active">volver</span></span>
<h1 class="component-title">Ficha</h1>
<div id="graphContainer"></div>
<div class="detail-container">
    <dl>
        <dt class="lato" *ngIf="symbol.name">Nombre</dt>
        <dd *ngIf="symbol.name">{{symbol.name}}</dd>
        <dt class="lato" *ngIf="currency.name">Divisa</dt>
        <dd class="{{currency.name | lowercase}}" *ngIf="currency.name">{{currency.name}}</dd>
        <dt class="lato" *ngIf="issuer">Emisor</dt>
        <dd *ngIf="issuer">whatever</dd>
        <dt class="lato" *ngIf="symbol.isin">ISIN</dt>
        <dd *ngIf="symbol.isin">{{symbol.isin}}</dd>
        <dt class="lato" *ngIf="region">Región</dt>
        <dd *ngIf="region">{{region}}</dd>
        <dt class="lato" *ngIf="risk_family">Familia de riesgo</dt>
        <dd *ngIf="risk_family">{{risk_family}}</dd>
        <dt class="lato" *ngIf="symbol.sector">Sector</dt>
        <dd *ngIf="symbol.sector">{{sector}}</dd>
    </dl>
</div>
<div class="form-container clearfix">
    <h2>Añadir comentario</h2>
    <form #f="ngForm" (ngSubmit)="onSubmit(f, symbol.id)">
      <div class="form-group">
        <label for="content">Commentario</label>
        <textarea rows="4" class="form-control" name="content" id="content" [(ngModel)]="comment.content" required></textarea>
      </div> 
      <button class="btn btn-default f-right">Guardar</button>
    </form>
</div>
<div class="comments-container">
    <ul *ngIf="comments.length > 0">
        <li *ngFor="let comment of comments" class="comment-card clickable" id="{{comment.id}}">
            <div class="comment-content">
                <p>{{comment.date | date:"medium"}}</p>
                <input name="editableContent" id="editableContent" class="comment-field" [(ngModel)]="comment.content">
            </div>
            <div class="comment-controls">
                <span (click)="editComment()" class="save">
                    <span class="icon-bubble"></span>
                    <span class="text">Guardar</span>
                </span>
                <span (click)="deleteComment(comment)" class="delete">
                    <span class="icon-bin"></span>
                    <span class="text">Borrar</span>
                </span>
            </div>
        </li>
    </ul>
</div>