/* COLORS */
$titles: #6d93bd;
$main: #676767;
$btn: #aaa;
$usd: #809EDA;
$jpy: #31319C;
$eur: #31319C;
$rules : #eee;
$input-highlight: #e2f5fd;

.comments-container {
    .comment-card {
        background-color: $rules;
        border-radius: 6px;
        margin-bottom: 8px;
        padding: 6px 14px 12px;

        &:last-child {
            margin-bottom: 0;
        }

        &:nth-child(even) {
            background-color: $rules;
        }

        &:nth-child(odd) {
            background-color: #fff;
            border: 1px solid $rules;
        }
    }

    .comment-content {
        > p {
            font-size: 10px;
        }

        .comment-field {
            border: none;
            background-color: transparent;
            font-family: Lato;
            font-size: 16px;
            margin-bottom: 12px;
            width: 100%;

            &:focus {
                background-color: $input-highlight
            }
        }
    }

    .comment-controls {
        [class^="icon"] {
            font-size: 12px;
        }

        .save {
            margin-right: 22px
        }

        .text {
            font-size: 12px;
        }
    }
}

.detail-container {
    dd {
        height: 15px;
        margin: 6px 0 12px 24px;
    }

    dt {
        border-bottom: 1px solid $rules;
    }

    .eur {
        color: $eur;
    }

    .jpy {
        color: $jpy;
    }

    .usd {
        color: $usd;
    }
}

.form-container {
    max-width: 350px;
    overflow: hidden;

    button {
        background-color: transparent;
        border: 1px solid $titles;
        color: $titles;
        padding: 6px 12px;
    }

    h2 {
        color: $titles;
        font-family: 'Lato', sans-serif;
        font-size: 22px;
    }

    label {
        background-color: $titles;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        color: #fff;
        display: inline-block;
        font-size: 12px;
        padding: 6px 12px;
    }

    textarea {
        background-color: $titles;
        border-color: $titles;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        border-top-right-radius: 12px;
        border-width: 2px;
        color: #fff;
        display: block;
        margin-top: -1px;
        margin-bottom: 12px;
        padding: 6px 12px;
        overflow: auto;
        outline: none;
        resize: none;
        width: 320px;
    }
}