<h1 class="component-title">Listado de acciones</h1>
<p class="component-filter">
  <span class="lato">Filtrar</span>
  <input [(ngModel)]="query" type="text" />
  <span class="leyend bold">*filtrado por divisa y riesgo</span>
</p>
<ul class="list-container">
  <li *ngFor="let symbol of symbolList | filterList:query" class="card clickable" (click)="onSelected(symbol.id)">
    <p class="name">{{symbol.name}}</p>
    <div class="property">
      <p>
        <span class="label lato">divisa</span>
        <span class="value">{{symbol.currency}}</span>
      </p>
    </div>
    <div class="property f-right">
      <p>
        <span class="label lato">familia de riesgo</span>
        <span class="value">{{symbol.risk_family}}</span>
      </p>
    </div>
  </li>
</ul>